.root {
    -fx-background-color: linear-gradient(to bottom, #46178f, #250b5a);
    -fx-padding: 20;
}

.label {
    -fx-font-family: "Segoe UI", "Arial", "sans-serif";
}

#lblTitulo {
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 8, 0, 0, 3);
}

#lblSubtitulo {
    -fx-text-fill: #ffca28;
    -fx-font-weight: bold;
}

.button {
    -fx-font-family: "Segoe UI", "Arial", "sans-serif";
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

#btnUnirseJuego {
    -fx-background-color: #e21b3c;
    -fx-effect: dropshadow(one-pass-box, #b21029, 0, 0, 0, 5);
}

#btnUnirseJuego:hover {
    -fx-background-color: #f22b4c;
}

#btnUnirseJuego:pressed {
    -fx-background-color: #b21029;
    -fx-translate-y: 3;
    -fx-effect: dropshadow(one-pass-box, #b21029, 0, 0, 0, 2);
}

#btnCrearJuego {
    -fx-background-color: #1368ce;
    -fx-effect: dropshadow(one-pass-box, #0a4896, 0, 0, 0, 5);
}

#btnCrearJuego:hover {
    -fx-background-color: #267bf3;
}

#btnCrearJuego:pressed {
    -fx-background-color: #0a4896;
    -fx-translate-y: 3;
    -fx-effect: dropshadow(one-pass-box, #0a4896, 0, 0, 0, 2);
}