.rootPane {
    -fx-background-color: linear-gradient(to bottom, #30006b, #4f0099);
    -fx-font-family: "Segoe UI";
}

/* HEADER */

.logo {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.sound-button {
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.sound-button:hover {
    -fx-background-color: rgba(255,255,255,0.25);
}

/* PANEL */

.main-panel {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255,255,255,0.15);
}

/* PIN */

.pin-label {
    -fx-font-size: 64px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.waiting-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #e0e0e0;
}

/* PARTICIPANTES */

.participants-label {
    -fx-background-color: #6521d8;
    -fx-background-radius: 15;

    -fx-padding: 12 25 12 25;

    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* JUGADORES */

.player-tag {
    -fx-background-color: #5a18c4;

    -fx-background-radius: 12;

    -fx-padding: 15 25 15 25;

    -fx-text-fill: white;

    -fx-font-size: 20px;

    -fx-font-weight: bold;

    -fx-min-width: 80;

    -fx-alignment: center;
}

.player-tag:hover {
    -fx-background-color: #6d2ae3;
}

/* BOTÓN INICIAR */

.start-button {

    -fx-background-color: #2ca000;

    -fx-text-fill: white;

    -fx-font-size: 24px;

    -fx-font-weight: bold;

    -fx-background-radius: 15;

    -fx-padding: 15 40 15 40;

    -fx-cursor: hand;
}

.start-button:hover {
    -fx-background-color: #248500;
}

/* BOTÓN REGRESAR */

.back-button {

    -fx-background-color: #64748b;

    -fx-text-fill: white;

    -fx-font-size: 22px;

    -fx-font-weight: bold;

    -fx-background-radius: 15;

    -fx-padding: 15 40 15 40;

    -fx-cursor: hand;
}

.back-button:hover {
    -fx-background-color: #4f6078;
}